body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#target{
    height: 50%;
    width: 100%;
}

.view-list{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%; 
}

.view-list:hover{
    overflow-x: scroll;
    overflow-y: hidden;
}

.view-container{
    min-width: 33%;
    max-width: 100%;
    min-height: 150px;
    max-height: 100%; 
    font-family: Arial;
}

.central-title{
    text-anchor: middle;
    font-weight: lighter;
    letter-spacing: 1px;
}

.table-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
